<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail |</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome icons (free version)-->
    <script src="../fontawesome/js/all.js" crossorigin="anonymous"></script>
    <style>
      table tr td {
        font-size: 1.1rem;
        font-weight: 450;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body style="background-color: #f4f6f9">
    <div class="container">
      <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h3 class="d-flex justify-content-between">
                <a href="/"><i class="fas fa-arrow-left fa-xs"> </i></a>
                Kartu Garansi
                <a href="<%= '/print/'+data.id %>" target="_blank"
                  ><i class="fas fa-print fa-xs"></i> Print</a
                >
              </h3>
            </div>
            <div class="card-body">
              <table class="table table-hover">
                <tr>
                  <td width="25%">Nama</td>
                  <td width="5%">:</td>
                  <td><%= data.nama %></td>
                </tr>
                <tr>
                  <td>Frame</td>
                  <td>:</td>
                  <td><%= data.frame %></td>
                </tr>
                <tr>
                  <td>Lensa</td>
                  <td>:</td>
                  <td><%= data.lensa %></td>
                </tr>
                <tr>
                  <td>Tanggal</td>
                  <td>:</td>
                  <td><%=moment.utc(data.tanggal).format('DD/MM/YYYY')%></td>
                </tr>
                <tr>
                  <td>Garansi Lensa</td>
                  <td>:</td>
                  <td>
                    <%= data.garansi_lensa %> <%=data.garansi_lensa === "6" ?
                    "Bulan" : data.garansi_lensa === "-" ? "" : " Tahun"%>
                  </td>
                </tr>
                <tr>
                  <td>Garansi Frame</td>
                  <td>:</td>
                  <td>
                    <%= data.garansi_frame %> <%=data.garansi_frame === "6" ?
                    "Bulan" : data.garansi_frame === "-" ? "" : " Tahun"%>
                  </td>
                </tr>
              </table>
              <table width="90%" class="table table-hover">
                <tr>
                  <td></td>
                  <td>Sph</td>
                  <td>Cyl</td>
                  <td>Axis</td>
                  <td>Add</td>
                  <td>Mpd</td>
                  <td>Prism</td>
                </tr>
                <% let r = data.r.split("/") %>
                <tr>
                  <td>OD</td>
                  <td><%= r[0] %></td>
                  <td><%= r[1] %></td>
                  <td><%= r[2] %></td>
                  <td><%= r[3] %></td>
                  <td><%= r[4] %></td>
                  <td><%= r[5] %></td>
                </tr>
                <% let l = data.l.split("/") %>
                <tr>
                  <td>OS</td>
                  <td><%= l[0] %></td>
                  <td><%= l[1] %></td>
                  <td><%= l[2] %></td>
                  <td><%= l[3] %></td>
                  <td><%= l[4] %></td>
                  <td><%= l[5] %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JQuery -->
    <script src="../js/jquery-3.7.0.js"></script>
    <!-- Bootstrap core JS-->
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
